{%extends 'bases/base.html' %}
{% load static %}






{% block main %}
<script src="{% static 'gallery/jquery.ui.widget.js' %}"></script>
<script src="{% static 'gallery/jquery.iframe-transport.js' %}"></script>
<script src="{% static 'gallery/jquery.fileupload.js' %}"></script>



<script src="{% static 'photos/js/progress_bar_upload.js' %}"></script>

    <div style="margin-bottom: 20px;">
      <button type="button" class="btn btn-primary js-upload-photos">
        <span class="glyphicon glyphicon-cloud-upload"></span> Envie suas fotos
      </button>
      <input id="fileupload" type="file" name="file" multiple
            style="display: none;"
            data-url="{% url 'progress_bar_upload' %}"
            data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'>
    </div>

    <table id="gallery" class="table table-bordered">
      <thead>
        <tr>
          <th>Sua Galeria</th>
        </tr>
      </thead>
      <tbody>
        </tbody>
      </table>
        {% for photo in photos %}
          
              <img src="{{ photo.file.url}}"class="img-thumbnail" width="200" height="200"> 
           
            
          
        {% endfor %}
     

<div class="modal fade" id="modal-progress" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Relaxe enquanto enviamos suas fotos...</h4>
      </div>
      <div class="modal-body">
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 0%;">0%</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="modal-progress2" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Suas fotos foram enviadas com sucesso</h4>
      </div>
      <div class="modal-body">
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 0%;">0%</div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block rightcol %}
{% include 'bases/rightcol.html' %}
{% endblock %}

{% block footer %}
{% include 'bases/footer.html' %}
{% endblock %}

