{%extends 'bases/base.html' %}
{% load static %}





{% block main %}
<script src="{% static 'gallery/jquery.ui.widget.js' %}"></script>
<script src="{% static 'gallery/jquery.iframe-transport.js' %}"></script>
<script src="{% static 'gallery/jquery.fileupload.js' %}"></script>


<script src="{% static 'photos/js/basic-upload.js' %}"></script>

<script src="{% static 'photos/js/progress-bar-upload.js' %}"></script>

<button type="button" class="btn btn-primary js-upload-photos">
  <span class="glyphicon glyphicon-cloud-upload"></span> Upload photos
</button>

{# 2. FILE INPUT TO BE USED BY THE PLUG-IN #}
<input id="fileupload" type="file" name="file" multiple
       style="display: none;"
       data-url="{% url 'basic_upload' %}"
       data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'>

{# 3. TABLE TO DISPLAY THE UPLOADED PHOTOS #}
<table id="gallery" class="table table-bordered">
  <thead>
    <tr>
      <th>Photo</th>
    </tr>
  </thead>
  <tbody>
    {% for photo in photos %}
      <tr>
        <td><a href="{{ photo.file.url }}">{{ photo.file.name }}</a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
{% block rightcol %}
{% include 'bases/rightcol.html' %}
{% endblock %}

{% block footer %}
{% include 'bases/footer.html' %}
{% endblock %}

