{%extends 'bases/base.html' %}
{% load static %}
 {% block main %}
 <br>
<p class="text-secondary">Home / Cadastro / Confirmado</p>
<div class="card text-white bg-success mb-3">
  <div class="card-header text-center">Cadastro Confirmado</div>
  <div class="card bg-light  ">
  <div class="card-body text-secondary text-center">

  <p>Cadastro Realizado com sucesso. Já poder logar e desfrutar de toda a rede do PetAqui 
  <br>
  Seja bem vindo(a) a família PetAqui</p>

  </div>
</div>
</div>
  
{% endblock %}
