{%extends 'bases/base.html' %}
{% load static %}
{% load bootstrap %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% block main %}
<br>
<p class="text-secondary">Home / Cadastro</p>
<div class="card text-white bg-primary">
  <div class="card-header">Cadastro de Usúario</div>
  <div class="card bg-light  ">
  <div class="card-body text-secondary">
    <form action="{%  url 'sistema_cadastro_novo'  %}" method="POST" onsubmit="return myFunction()" enctype="multipart/form-data" id="form" name="form" novalidate>
             {% csrf_token %}
         
<div class="form-row"> 
         <div class="form-group col-md-6">
         
    
    {{ form.nome | as_crispy_field }}
   
  </div>
 
  <div class="form-group col-md-6">
   
     {{ form.sobrenome | as_crispy_field}}
  </div>
  
    </div>
    <div class="form-row"> 
 <div class="form-group col-md-4">

    {{ form.email | as_crispy_field}}
    </div>
     <div class="form-group col-md-4">


    {{ form.email2 | as_crispy_field}}
    <div id="message"></div>
    </div>
 <div class="form-group col-md-4">
 {{ form.cpf | as_crispy_field}}
    
    </div>
    </div>
    <div class="form-row"> 
 <div class="form-group col-md-6">
 {{ form.telefone | as_crispy_field}}
    
    </div>
     <div class="form-group col-md-3">

    {{ form.data_nascimento | as_crispy_field}}
    </div>
    <div class="form-group col-md-3">
{{ form.sexo | as_crispy_field}}
    
    </div>
    </div>
<div class="form-row"> 
 <div class="form-group col-md-12">
   
     {{ form.foto | as_crispy_field}}
  </div>
    </div>
        <div class="form-row"> 
 <div class="form-group col-md-6">

     {{ form.endereco | as_crispy_field}}
    </div>
     <div class="form-group col-md-2">

    {{ form.numero | as_crispy_field}}
    </div>
    <div class="form-group col-md-4">

     {{ form.bairro | as_crispy_field}}
    </div>
    </div>
         <div class="form-row"> 
 <div class="form-group col-md-5">

   {{ form.cidade | as_crispy_field}}
    </div>
     <div class="form-group col-md-4">

    {{ form.estado | as_crispy_field}}
    </div>
    <div class="form-group col-md-3">

    {{ form.cep | as_crispy_field}}
    </div>
    </div>

             <div class="form-row"> 
<div class="form-group col-md-12">
   {{ form.pet | as_crispy_field }}
    </div>
   
    
     </div>
                 <div class="form-row"> 
 <div class="form-group col-md-6">

   {{ form.senha | as_crispy_field}}
    </div>
     <div class="form-group col-md-6">
 
    {{ form.senha2 | as_crispy_field}}
    <div id="divCheckPassword"></div>
    <div id="divCheckPassword2"></div>
    
    </div>
    
    </div>

                <button type="submit" id="validator" class="btn btn-primary btn-block">Cadastrar</button>

        </form>
  </div>
</div>
</div>

<script>

</script>
<script>
$(document).ready(function(){
   $('.cpf').mask('999.999.999-99').on("keydown", function(e){
      
      var key = e.key; // pega o valor da tecla
      var keycode = e.keyCode || e.which; // pega o código da tecla

      var teclas = [
         8,    // backspace
         16,   // shift
         17,   // ctrl
         35,   // end
         36,   // home
         37,   // ←
         39,   // →
         46,   // delete
         13    // enter
      ];

      if(isNaN(key) && !~teclas.indexOf(keycode)){
         return false;
      }
   });
});
$(document).ready(function(){
   $('.phone_with_ddd').mask('(99) 99999-9999').on("keydown", function(e){
      
      var key = e.key; // pega o valor da tecla
      var keycode = e.keyCode || e.which; // pega o código da tecla

      var teclas = [
         8,    // backspace
         16,   // shift
         17,   // ctrl
         35,   // end
         36,   // home
         37,   // ←
         39,   // →
         46,   // delete
         13    // enter
      ];

      if(isNaN(key) && !~teclas.indexOf(keycode)){
         return false;
      }
   });
});
$(document).ready(function(){
   $('.cep').mask('99999-999').on("keydown", function(e){
      
      var key = e.key; // pega o valor da tecla
      var keycode = e.keyCode || e.which; // pega o código da tecla

      var teclas = [
         8,    // backspace
         16,   // shift
         17,   // ctrl
         35,   // end
         36,   // home
         37,   // ←
         39,   // →
         46,   // delete
         13    // enter
      ];

      if(isNaN(key) && !~teclas.indexOf(keycode)){
         return false;
      }
   });
});
$(document).ready(function(){
   $('.data').mask('99/99/9999').on("keydown", function(e){
      
      var key = e.key; // pega o valor da tecla
      var keycode = e.keyCode || e.which; // pega o código da tecla

      var teclas = [
         8,    // backspace
         16,   // shift
         17,   // ctrl
         35,   // end
         36,   // home
         37,   // ←
         39,   // →
         46,   // delete
         13    // enter
      ];

      if(isNaN(key) && !~teclas.indexOf(keycode)){
         return false;
      }
   });
});
</script>
<script>
 $("form").submit(function() {
  $('.data').unmask();
  $('.cep').unmask();
  $('.phone_with_ddd').unmask();
  $('.cpf').unmask();
}); 
</script>
<script>

 $('#validator').prop('disabled' , true);
 $('#senha2').on('keyup', function (){
    var password = $("#senha").val();
    var confirmPassword = $("#senha2").val();
 if (password.length < 8 || password.length  > 16) { 

     $("#divCheckPassword2").html("As senhas precisam ter no minimo 8 caracteres e no máximo 16").css('color', 'red');
      $('#validator').prop('disabled' , true);
       } else {
        $("#divCheckPassword2").html("").css('color', 'green');
        $('#validator').prop('disabled' , true);
     }
     
if (password != confirmPassword) {
         $("#divCheckPassword").html("As senhas não são").css('color', 'red');
         $('#validator').prop('disabled' , true);
     } else {
        $("#divCheckPassword").html("Senhas identicas").css('color', 'green');
        $('#validator').prop('disabled' , true);
     }

 
$('#email2').on('keyup', function () {
    var email = $("#email").val();
    var email2 = $("#email2").val();

    if (email != email2) {
        $("#message").html("Os email não são identicos").css('color', 'red');
         $('#validator').prop('disabled' , true);
    } else {
        $("#message").html("Os email são identicos").css('color', 'green');
        $('#validator').prop('disabled' , true);
    }
   if  (password != confirmPassword ||  password.length < 8 || password.length  > 16 || email != email2){
    $('#validator').prop('disabled' , true);
}else {
    $('#validator').prop('disabled' , false);
}
})

});
</script>
<script>
 

</script>



{% endblock %}

{% block rightcol %}
{% include 'bases/rightcol.html' %}
{% endblock %}

{% block footer %}
{% include 'bases/footer.html' %}
{% endblock %}