{%extends 'bases/base.html' %}
{% load static %}
{% load bootstrap %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}

{% block main %}

<div class="card text-white bg-primary">
      <div class="card-header"><p class="card-text">
          <small class="text-muted">
             <a href="{% url 'sistema_index' %}" class="text-white ">Home /</a>  
             <a  class="text-white">Cadastro</a>
             
          </small></a></p> Cadastro de Usúario 
    </div>
       <div class="card title  ">
      <div class="card-body text-secondary">  
        <form class="exampleone" action="{%  url 'sistema_cadastro_novo'  %}" method="POST" enctype="multipart/form-data" id="form" name="form" novalidate >
                 {% csrf_token %}
             
    <div class="form-row"> 
             <div class="form-group col-md-4">
             
        
        {{ form.username | as_crispy_field }}
       
      </div>
             <div class="form-group col-md-4">
             
        
        {{ form.nome | as_crispy_field }}
       
      </div>
     
      <div class="form-group col-md-4">
       
         {{ form.sobrenome | as_crispy_field}}
      </div>
      
        </div>
        <div class="form-row"> 
     <div class="form-group col-md-4">
    
        {{ form.email | as_crispy_field}}
    
            <div id="message2"></div>
        </div>
         <div class="form-group col-md-4">
    
    
        {{ form.email2 | as_crispy_field}}
        <div id="message"></div>
        <div id="message3"></div>
        </div>
     <div class="form-group col-md-4">
     {{ form.cpf | as_crispy_field}}
        
        </div>
        </div>
        <div class="form-row"> 
     <div class="form-group col-md-6">
     {{ form.telefone | as_crispy_field}}
        
        </div>
         <div class="form-group col-md-3">
    
        {{ form.data_nascimento | as_crispy_field}}
        </div>
        <div class="form-group col-md-3">
    {{ form.sexo | as_crispy_field}}
        
        </div>
        </div>
    <div class="form-row"> 
     <div class="form-group col-md-12">
       
         {{ form.foto | as_crispy_field}}
         {{ form.foto.errors }}
      </div>
        </div>
            <div class="form-row"> 
     <div class="form-group col-md-6">
    
         {{ form.endereco | as_crispy_field}}
        </div>
         <div class="form-group col-md-2">
    
        {{ form.numero | as_crispy_field}}
        </div>
        <div class="form-group col-md-4">
    
         {{ form.bairro | as_crispy_field}}
        </div>
        </div>
             <div class="form-row"> 
     <div class="form-group col-md-5">
    
       {{ form.cidade | as_crispy_field}}
        </div>
         <div class="form-group col-md-4">
    
        {{ form.estado | as_crispy_field}}
        </div>
        <div class="form-group col-md-3">
    
        {{ form.cep | as_crispy_field}}
        </div>
        </div>
    
                 <div class="form-check form-check-inline"> 
    <div class="form-group col-md-12">
       {{ form.pet }}
        </div>
       
        
         </div>
         <div class="form-row"> 
             <div class="form-group col-md-12">
                   {{ form.about | as_crispy_field}}
                 </div>
                
                 
                  </div>
         {{ user.usuario.pet.url}}
                     <div class="form-row"> 
     <div class="form-group col-md-6">
    
       {{ form.password1 | as_crispy_field}}
        </div>
         <div class="form-group col-md-6">
     
        {{ form.password2 | as_crispy_field}}
        <div id="divCheckPassword"></div>
        <div id="divCheckPassword2"></div>
        
       
        </div>
        
        </div>
       
                    <button type="submit" id="validator" class="btn btn-primary btn-block">Cadastrar</button>
    
            </form>
            
    
      </div>
    </div>
    </div>
<script src="{% static 'myjs/mask.js' %}"></script>
<script src="{% static 'myjs/password_and_email_validator.js' %}"></script>
<script>

</script>

 
{% endblock %}

{% block rightcol %}
{% include 'bases/rightcol.html' %}
{% endblock %}

{% block footer %}
{% include 'bases/footer.html' %}
{% endblock %}