{%extends 'bases/base.html' %}
{% load static %}
{% load bootstrap %}
{% load widget_tweaks %}

{% block main %}
<br>
<p class="text-secondary">Home / Cadastro</p>
<div class="card text-white bg-primary">
  <div class="card-header">Cadastro de Usúario</div>
  <div class="card bg-light  ">
  <div class="card-body text-secondary">
    <form action="{%  url 'sistema_cadastro_novo'  %}" method="POST" novalidate>
             {% csrf_token %}
         
<div class="form-row"> 
         <div class="form-group col-md-6">
         
    
    {{ form.nome | bootstrap }}
   
  </div>
 
  <div class="form-group col-md-6">
   
     {{ form.sobrenome | bootstrap}}
  </div>
  
    </div>
    <div class="form-row"> 
 <div class="form-group col-md-6">

    {{ form.email | bootstrap}}
    </div>
     <div class="form-group col-md-6">


    {{ form.email | bootstrap}}
    
    </div>
    </div>
    <div class="form-row"> 
 <div class="form-group col-md-6">

     {{ form.cpf | bootstrap}}
    </div>
     <div class="form-group col-md-6">

     {{ form.telefone | bootstrap}}
    </div>
    </div>
<div class="form-row"> 
 <div class="form-group col-md-12">
   
     {{ form.foto | bootstrap}}
  </div>
    </div>
        <div class="form-row"> 
 <div class="form-group col-md-6">

     {{ form.endereco | bootstrap}}
    </div>
     <div class="form-group col-md-2">

    {{ form.numero | bootstrap}}
    </div>
    <div class="form-group col-md-4">

     {{ form.bairro | bootstrap}}
    </div>
    </div>
         <div class="form-row"> 
 <div class="form-group col-md-6">

   {{ form.cidade | bootstrap}}
    </div>
     <div class="form-group col-md-4">

    {{ form.estado | bootstrap}}
    </div>
    <div class="form-group col-md-2">

    {{ form.cep | bootstrap}}
    </div>
    </div>

             <div class="form-row"> 

   {{ form.pet | bootstrap }}
    </div>
    
    
     
                 <div class="form-row"> 
 <div class="form-group col-md-6">

   {{ form.senha | bootstrap}}
    </div>
     <div class="form-group col-md-6">

    {{ form.senha | bootstrap}}
    </div>
    
    </div>

                <button type="submit" class="btn btn-primary">Cadastrar</button>

        </form>
  </div>
</div>
</div>

{% endblock %}

{% block rightcol %}
{% include 'bases/rightcol.html' %}
{% endblock %}

{% block footer %}
{% include 'bases/footer.html' %}
{% endblock %}