{%extends 'bases/base.html' %}
{% load static %}
{% load bootstrap %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% block main %}
{% if user.is_authenticated %}
  {% if user.is_staff %}
<div class="card text-white bg-primary">
<div class="card-header"><p class="card-text">
      <small class="text-muted">
         <a href="{% url 'sistema_index' %}" class="text-white ">Home /</a>  
         <a class="text-white">Perfil </a>
      </small></a>
      <div class="row"> 
      <div class=" col-md-10">
      {{ user.usuario.nome }}  
   
      {{ user.usuario.sobrenome }} 
   </div>
   {% include 'bases/menu_perfil.html' %}
</div>
         
</div>
<div class="card title  ">
<div class="card-body text-secondary">
            <div class="form-row"> 
            <div class="form-group col-md-4">
<img src="{{user.usuario.foto.medium.url}}"class="img-thumbnail" width="220" height="220">
</div>
<div class="form-group col-md-8">
{{ user.usuario.about}}
</div>
</div>

<hr>
<h6> <img src="{% static 'img/perfil/pet.svg' %}"  width="20" height="20" alt=""> Pets:</h6>
<div class="form-row"> 
<div class="form-group col-md-12">

      {{ user.usuario.pet}}  
   </div>
</div>
<hr>
<h6> <img src="{% static 'img/perfil/map2.svg' %}"  width="20" height="20" alt=""> Localização:</h6>
      <div class="form-row"> 
         <div class="form-group col-md-12">
          
          
           {{ user.usuario.cidade }} - {{ user.usuario.estado }}
      </div></div>
         <hr>
         <label >Galeria: </label>
         <a href="{% url 'progress_bar_upload' %}" type="button" class="btn btn-primary js-upload-photos">
               <span class="glyphicon glyphicon-cloud-upload"></span> Upload photos
         </a>
   </br>
         {% for photo in photos %}
       
         <img src="{{ photo.file.medium.url}}"class="img-thumbnail" width="200" height="200"> 
      
       
     
   {% endfor %}
</div>
</div>
</div>
{% elif user %}
<div class="card text-white bg-primary">
      <div class="card-header"><p class="card-text">
            <small class="text-muted">
               <a href="{% url 'sistema_index' %}" class="text-white ">Home /</a>  
               <a class="text-white">Perfil </a>
            </small></a>
            <div class="row"> 
            <div class=" col-md-10">
            {{ user.negocio.empresa }}  - {{ user.negocio.tipo }} 
         </div>
         {% include 'bases/menu_perfil_empresa.html' %}
      </div>
               
      </div>
      <div class="card title  ">
      <div class="card-body text-secondary">
                  <div class="form-row"> 
                  <div class="form-group col-md-4">
      <img src="{{user.negocio.foto.medium.url}}"class="img-thumbnail" width="220" height="220">
      </div>
      <div class="form-group col-md-8">
      {{ user.negocio.sobre}}
      </div>
      </div>
      
      
     
            <hr>
      <h6> <img src="{% static 'img/perfil/pet.svg' %}"  width="20" height="20" alt=""> Pet Aceitos:</h6>
      <div class=" form-row"> 
      <div class="form-group col-md-12">
         
     
            {{ user.negocio.pet_aceitos}}  
         </div>
     
   </div>
      <hr>
      <h6> <img src="{% static 'img/perfil/smartphone.svg' %}"  width="20" height="20" alt=""> Contatos:</h6>
      <div class="form-row"> 
            
            <div class="form-group col-md-4">
                  
                  
                  Whtassapp: {{ user.negocio.whatsapp }}
               </div>
               <div class="form-group col-md-4">
                     Telefone: {{ user.negocio.telefone }}
                  </div>
                  <div class="form-group col-md-4">
                        Site: {{ user.negocio.site }}
                     </div>
            </div>
            <hr>
            <h6> <img src="{% static 'img/perfil/map2.svg' %}"  width="20" height="20" alt=""> Endereço:</h6>
            <div class="form-row"> 
               <div class="form-group col-md-12">
                     
                     
                
                
                {{ user.negocio.endereco }} - {{ user.negocio.numero }} - {{ user.negocio.bairro }} - {{ user.negocio.cidade }} - {{ user.negocio.estado }}
            </div></div>
            <hr>
            <h6> <img src="{% static 'img/perfil/clock.svg' %}"  width="20" height="20" alt=""> Horário Funcionamento:</h6>
            <div class="row"> 
               <div class="col-md-3">                
                 <h5>Segunda-Feira: </h5>
            </div>
            <div class="col-md-9">
                  <h5> dás : {{ user.negocio.horario_segunda1 }} - às : {{ user.negocio.horario_segunda2 }} - dás : {{ user.negocio.horario_segunda3 }} - às : {{ user.negocio.horario_segunda4 }} </h5>
         </div>
      </div>
      <div class="row"> 
            <div class="col-md-3">                
              <h5>Terça-Feira : </h5>
         </div>
         <div class="col-md-9">
               <h5>dás : {{ user.negocio.horario_terca1 }} - às : {{ user.negocio.horario_terca2 }} - dás : {{ user.negocio.horario_terca3 }} - às : {{ user.negocio.horario_terca4 }}</h5>
      </div>
   </div>
   <div class="row"> 
   <div class="col-md-3">                
         <h5>Quarta-Feira : </h5>
    </div>
    <div class="col-md-9">
         <h5>dás : {{ user.negocio.horario_quarta1 }} - às : {{ user.negocio.horario_quarta2 }} - dás : {{ user.negocio.horario_quarta3 }} - às : {{ user.negocio.horario_quarta4 }}</h5>
 </div>
</div>
<div class="row"> 
      <div class="col-md-3">                
            <h5>Quinta-Feira : </h5>
       </div>
       <div class="col-md-9">
            <h5> dás : {{ user.negocio.horario_quinta1 }} - às : {{ user.negocio.horario_quinta2 }} - dás : {{ user.negocio.horario_quinta3 }} - às : {{ user.negocio.horario_quinta4 }}</h5>
    </div>
   </div>
   <div class="row"> 
         <div class="col-md-3">                
               <h5>Sexta-Feira : </h5>
          </div>
          <div class="col-md-9">
               <h5>dás : {{ user.negocio.horario_sexta1 }} - às : {{ user.negocio.horario_sexta2 }} - dás : {{ user.negocio.horario_sexta3 }} - às : {{ user.negocio.horario_sexta4 }}</h5>
       </div>
      </div>
      <div class="row"> 
            <div class="col-md-3">                
                  <h5>Sábado: </h5>
             </div>
             <div class="col-md-9">
                  <h5>dás : {{ user.negocio.horario_sabado1 }} - às : {{ user.negocio.horario_sabado2 }} - dás : {{ user.negocio.horario_sabado3 }} - às : {{ user.negocio.horario_sabado4 }}</h5>
          </div>
         </div>
         <div class="row"> 
               <div class="col-md-3">                
                     <h5>Domingo: </h5> 
                </div>
                <div class="col-md-9">
                     <h5>dás : {{ user.negocio.horario_domingo1 }} - às : {{ user.negocio.horario_domingo2 }} - dás : {{ user.negocio.horario_domingo3 }} - às : {{ user.negocio.horario_domingo4 }}</h5>
             </div>
            </div>
           
         
               <hr>
            <label >Galeria: </label>
            <a href="{% url 'progress_bar_upload' %}" type="button" class="btn btn-primary js-upload-photos">
                  <span class="glyphicon glyphicon-cloud-upload"></span> Upload photos
            </a>
      </br>
            {% for photo in photos %}
          
            <img src="{{ photo.file.medium.url}}"class="img-thumbnail" width="200" height="200"> 
         
          
        
      {% endfor %}
        
      </div>
      </div>
   </div>
      {% endif %}
      {% endif %}
<script>

</script>
{% endblock %}

{% block rightcol %}
{% include 'bases/rightcol.html' %}
{% endblock %}

{% block footer %}
{% include 'bases/footer.html' %}
{% endblock %}

