{%extends 'bases/base.html' %}
{% load static %}
{% load bootstrap %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% block main %}
<div class="card text-white bg-primary">
  <div class="card-header"><p class="card-text">
      <small class="text-muted">
         <a href="{% url 'sistema_index' %}" class="text-white ">Home /</a>  
         <a href="" class="text-white">Perfil</a>
      </small></a></p> Cadastro de Usúario 
</div>
  <div class="card title  ">
  <div class="card-body text-secondary">

         {% if user.is_authenticated %} 
<div class="form-row"> 
         <div class="form-group col-md-4">
         
    <label for="user">Usúario: </label>
    {{ user  }}
   
  </div>
         <div class="form-group col-md-4">
         
    <label >Nome Completo: </label>
    {{  user.usuario.nome }} {{ user.usuario.sobrenome }}
   
  </div>
     </div>
     <hr>
    <div class="form-row"> 
 <div class="form-group col-md-4">
<label >Email: </label>
    {{ user.usuario.email }}

       
    </div>
    

 <div class="form-group col-md-4">
 <label >Cpf: </label>
 {{ user.usuario.cpf}}
    
    </div>
    </div>
    <div class="form-row"> 
 <div class="form-group col-md-4">
 <label >Telefone: </label>
 {{ user.usuario.telefone }}
    
    </div>
     <div class="form-group col-md-4">
<label >Data Nascimento: </label>
    {{ user.usuario.data_nascimento}}
    </div>
    <div class="form-group col-md-4">
    <label >Sexo: </label>
{{ user.usuario.sexo }}
    
    </div>
    </div>
<div class="form-row"> 
 <div class="form-group col-md-12">

    <img src="{{ user.usuario.foto.medium.url}}"class="rounded-circle" width="200" height="200">
     
    
  </div>
  </div>
    
        <div class="form-row"> 
 <div class="form-group col-md-6">
<label >Endereço: </label>
     {{ user.usuario.endereco }} {{ user.usuario.numero }}
    </div>
     <div class="form-group col-md-2">

    
    </div>
    <div class="form-group col-md-4">

     {{ user.usuario.bairro}}
    </div>
    </div>
         <div class="form-row"> 
 <div class="form-group col-md-5">

   {{ user.usuario.cidade }}
    </div>
     <div class="form-group col-md-4">

    {{ user.usuario.estado}}
    </div>
    <div class="form-group col-md-3">

    {{ user.usuario.cep}}
    </div>
    </div>

             <div class="form-check form-check-inline"> 

   {{ user.usuario.pet }}
     {% endif %}
  </div>
</div>
</div>
</div>

<script>
</script>
<script>
$(document).ready(function(){
   $('.cpf').mask('999.999.999-99').on("keydown", function(e){
      
      var key = e.key; // pega o valor da tecla
      var keycode = e.keyCode || e.which; // pega o código da tecla
      var teclas = [
         8,    // backspace
         16,   // shift
         17,   // ctrl
         35,   // end
         36,   // home
         37,   // ←
         39,   // →
         46,   // delete
         13,    // enter
         9
      ];
      if(isNaN(key) && !~teclas.indexOf(keycode)){
         return false;
      }
   });
});
$(document).ready(function(){
   $('.phone_with_ddd').mask('(99) 99999-9999').on("keydown", function(e){
      
      var key = e.key; // pega o valor da tecla
      var keycode = e.keyCode || e.which; // pega o código da tecla
      var teclas = [
         8,    // backspace
         16,   // shift
         17,   // ctrl
         35,   // end
         36,   // home
         37,   // ←
         39,   // →
         46,   // delete
         13,    // enter
         9
      ];
      if(isNaN(key) && !~teclas.indexOf(keycode)){
         return false;
      }
   });
});
$(document).ready(function(){
   $('.cep').mask('99999-999').on("keydown", function(e){
      
      var key = e.key; // pega o valor da tecla
      var keycode = e.keyCode || e.which; // pega o código da tecla
      var teclas = [
         8,    // backspace
         16,   // shift
         17,   // ctrl
         35,   // end
         36,   // home
         37,   // ←
         39,   // →
         46,   // delete
         13,    // enter
         9
      ];
      if(isNaN(key) && !~teclas.indexOf(keycode)){
         return false;
      }
   });
});
$(document).ready(function(){
   $('.data').mask('99/99/9999').on("keydown", function(e){
      
      var key = e.key; // pega o valor da tecla
      var keycode = e.keyCode || e.which; // pega o código da tecla
      var teclas = [
         8,    // backspace
         16,   // shift
         17,   // ctrl
         35,   // end
         36,   // home
         37,   // ←
         39,   // →
         46,   // delete
         13,    // enter
         9
      ];
      if(isNaN(key) && !~teclas.indexOf(keycode)){
         return false;
      }
   });
});
$(document).ready(function(){
   $('.numero').mask('00000').on("keydown", function(e){
      
      var key = e.key; // pega o valor da tecla
      var keycode = e.keyCode || e.which; // pega o código da tecla
      var teclas = [
         8,    // backspace
         16,   // shift
         17,   // ctrl
         35,   // end
         36,   // home
         37,   // ←
         39,   // →
         46,   // delete
         13,    // enter
         9
      ];
      if(isNaN(key) && !~teclas.indexOf(keycode)){
         return false;
      }
   });
});
</script>
<script>
 $("form").submit(function() {
  $('.data').unmask();
  $('.cep').unmask();
  $('.phone_with_ddd').unmask();
  $('.cpf').unmask();
}); 
</script>

<script>
$(function(){
   // declaro variáveis de controle
   var val_email, val_email2, val_senha, val_senha2;
   
   function valida(){
      
      $('#validator')
      .prop('disabled', val_email && val_email2 && val_senha && val_senha2 ? false : true);
      
   }
   function isValidEmailAddress(emailAddress) {
      var pattern = new RegExp(/^(("[\w-\s]+")|([\w-]+(?:\.[\w-]+)*)|("[\w-\s]+")([\w-]+(?:\.[\w-]+)*))(@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$)|(@\[?((25[0-5]\.|2[0-4][0-9]\.|1[0-9]{2}\.|[0-9]{1,2}\.))((25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\.){2}(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\]?$)/i);
      return pattern.test(emailAddress);
   }
   function validarEmail(){
  
      var email = $("#email").val().trim();
      var email2 = $("#email2").val().trim();
      // só irá verificar se os campos tiverem algo  
      if(email && email2){
         if(email != email2){
            $("#message")
            .html("Os emails não são idênticos")
            .css('color', 'red');
            val_email = false;
         }else{
            $("#message")
            .html("Os emails são idênticos")
            .css('color', 'green');
            val_email = true;
         }
         
         if(isValidEmailAddress(email)){
            $("#message2")
            .html("E-mail válido")
            .css('color', 'green');
            val_email2 = true;
         }else{
            $("#message2")
            .html("E-mail inválido")
            .css('color', 'red');
            val_email2 = false;
         }
         // chama a função de controle do botão
         valida();
      }
   }
   function validarSenha(){
      var senha = $("#password1").val();
      var senha2 = $("#password2").val();
      // só irá verificar se os campos tiverem algo
      if(senha && senha2){
    
         if(senha.length < 8 || senha.length > 16){
   
            $("#divCheckPassword2")
            .html("As senhas precisam ter no mínimo 8 caracteres e no máximo 16")
            .css('color', 'red');
            val_senha = false;
   
         }else{
   
            $("#divCheckPassword2")
            .html("")
            .css('color', 'green');
            val_senha = true;
   
         }
       
         if(senha != senha2){
   
            $("#divCheckPassword")
            .html("As senhas não são iguais")
            .css('color', 'red');
            val_senha2 = false;
   
         }else{
   
            $("#divCheckPassword").html("Senhas idênticas")
            .css('color', 'green');
            val_senha2 = true;
         }
         
         // chama a função de controle do botão
         valida();
      }
   }
  
   $('#email, #email2').on('keyup', validarEmail);
   $('#password1, #password2').on('keyup', validarSenha);
});
</script>


 <script src="{% static 'cropper/cropper.min.js' %}"></script>
{% endblock %}

{% block rightcol %}
{% include 'bases/rightcol.html' %}
{% endblock %}

{% block footer %}
{% include 'bases/footer.html' %}
{% endblock %}