      {%extends 'bases/base.html' %}
      {% load static %}
      {% load bootstrap %}
      {% load widget_tweaks %}
      {% load crispy_forms_tags %}
      {% block main %}
      {{usuario.id}}
      <div class="card text-white bg-primary">
      <div class="card-header"><p class="card-text">
            <small class="text-muted">
               <a href="{% url 'sistema_index' %}" class="text-white ">Home /</a>  
               <a class="text-white">Perfil </a>
            </small></a></p> {{  user.usuario.nome }} {{ user.usuario.sobrenome }}{{  user.usuario.id }}
      </div>
      <div class="card title  ">
      <div class="card-body text-secondary">

               {% if user.is_authenticated %} 
               <div class="form-row"> 
      <div class="form-group col-md-6">

         <img src="{{ user.usuario.foto.medium.url}}"class="rounded-circle" width="150" height="150">
         
         
      </div>
         <div class="form-group col-md-6">
      <label >Pets: </label>
         <img src = "{% static 'img/animal/' %}{{ user.usuario.pet  }}" width="40" height="40"/> 
         {{ user.usuario.pet  }}
         {% for choices in usuario %}
    <div class="myradio">
        {{ user.usuario.pet }}
    </div>
{% endfor %}
      </div>
      </div>

         <hr>
         
         
            
               <div class="form-row"> 
      <div class="form-group col-md-5">
      <label >Cidade: </label>
         {{ user.usuario.cidade }}
         </div>
         <div class="form-group col-md-4">
      <label >Estado: </label>
         {{ user.usuario.estado}}
         </div>

         </div>

      <hr>
               <div class="form-row"> 
      <div class="form-group col-md-12">
      <label >Galeria de fotos: </label>
      
         </div>
         </div>
         {% endif %}
      
      </div>
      </div>
      </div>

      <script>
      </script>
      <script>
      $(document).ready(function(){
         $('.cpf').mask('999.999.999-99').on("keydown", function(e){
            
            var key = e.key; // pega o valor da tecla
            var keycode = e.keyCode || e.which; // pega o código da tecla
            var teclas = [
               8,    // backspace
               16,   // shift
               17,   // ctrl
               35,   // end
               36,   // home
               37,   // ←
               39,   // →
               46,   // delete
               13,    // enter
               9
            ];
            if(isNaN(key) && !~teclas.indexOf(keycode)){
               return false;
            }
         });
      });
      $(document).ready(function(){
         $('.phone_with_ddd').mask('(99) 99999-9999').on("keydown", function(e){
            
            var key = e.key; // pega o valor da tecla
            var keycode = e.keyCode || e.which; // pega o código da tecla
            var teclas = [
               8,    // backspace
               16,   // shift
               17,   // ctrl
               35,   // end
               36,   // home
               37,   // ←
               39,   // →
               46,   // delete
               13,    // enter
               9
            ];
            if(isNaN(key) && !~teclas.indexOf(keycode)){
               return false;
            }
         });
      });
      $(document).ready(function(){
         $('.cep').mask('99999-999').on("keydown", function(e){
            
            var key = e.key; // pega o valor da tecla
            var keycode = e.keyCode || e.which; // pega o código da tecla
            var teclas = [
               8,    // backspace
               16,   // shift
               17,   // ctrl
               35,   // end
               36,   // home
               37,   // ←
               39,   // →
               46,   // delete
               13,    // enter
               9
            ];
            if(isNaN(key) && !~teclas.indexOf(keycode)){
               return false;
            }
         });
      });
      $(document).ready(function(){
         $('.data').mask('99/99/9999').on("keydown", function(e){
            
            var key = e.key; // pega o valor da tecla
            var keycode = e.keyCode || e.which; // pega o código da tecla
            var teclas = [
               8,    // backspace
               16,   // shift
               17,   // ctrl
               35,   // end
               36,   // home
               37,   // ←
               39,   // →
               46,   // delete
               13,    // enter
               9
            ];
            if(isNaN(key) && !~teclas.indexOf(keycode)){
               return false;
            }
         });
      });
      $(document).ready(function(){
         $('.numero').mask('00000').on("keydown", function(e){
            
            var key = e.key; // pega o valor da tecla
            var keycode = e.keyCode || e.which; // pega o código da tecla
            var teclas = [
               8,    // backspace
               16,   // shift
               17,   // ctrl
               35,   // end
               36,   // home
               37,   // ←
               39,   // →
               46,   // delete
               13,    // enter
               9
            ];
            if(isNaN(key) && !~teclas.indexOf(keycode)){
               return false;
            }
         });
      });
      </script>
      <script>
      $("form").submit(function() {
      $('.data').unmask();
      $('.cep').unmask();
      $('.phone_with_ddd').unmask();
      $('.cpf').unmask();
      }); 
      </script>

      <script>
      $(function(){
         // declaro variáveis de controle
         var val_email, val_email2, val_senha, val_senha2;
         
         function valida(){
            
            $('#validator')
            .prop('disabled', val_email && val_email2 && val_senha && val_senha2 ? false : true);
            
         }
         function isValidEmailAddress(emailAddress) {
            var pattern = new RegExp(/^(("[\w-\s]+")|([\w-]+(?:\.[\w-]+)*)|("[\w-\s]+")([\w-]+(?:\.[\w-]+)*))(@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$)|(@\[?((25[0-5]\.|2[0-4][0-9]\.|1[0-9]{2}\.|[0-9]{1,2}\.))((25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\.){2}(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\]?$)/i);
            return pattern.test(emailAddress);
         }
         function validarEmail(){
      
            var email = $("#email").val().trim();
            var email2 = $("#email2").val().trim();
            // só irá verificar se os campos tiverem algo  
            if(email && email2){
               if(email != email2){
                  $("#message")
                  .html("Os emails não são idênticos")
                  .css('color', 'red');
                  val_email = false;
               }else{
                  $("#message")
                  .html("Os emails são idênticos")
                  .css('color', 'green');
                  val_email = true;
               }
               
               if(isValidEmailAddress(email)){
                  $("#message2")
                  .html("E-mail válido")
                  .css('color', 'green');
                  val_email2 = true;
               }else{
                  $("#message2")
                  .html("E-mail inválido")
                  .css('color', 'red');
                  val_email2 = false;
               }
               // chama a função de controle do botão
               valida();
            }
         }
         function validarSenha(){
            var senha = $("#password1").val();
            var senha2 = $("#password2").val();
            // só irá verificar se os campos tiverem algo
            if(senha && senha2){
         
               if(senha.length < 8 || senha.length > 16){
         
                  $("#divCheckPassword2")
                  .html("As senhas precisam ter no mínimo 8 caracteres e no máximo 16")
                  .css('color', 'red');
                  val_senha = false;
         
               }else{
         
                  $("#divCheckPassword2")
                  .html("")
                  .css('color', 'green');
                  val_senha = true;
         
               }
            
               if(senha != senha2){
         
                  $("#divCheckPassword")
                  .html("As senhas não são iguais")
                  .css('color', 'red');
                  val_senha2 = false;
         
               }else{
         
                  $("#divCheckPassword").html("Senhas idênticas")
                  .css('color', 'green');
                  val_senha2 = true;
               }
               
               // chama a função de controle do botão
               valida();
            }
         }
      
         $('#email, #email2').on('keyup', validarEmail);
         $('#password1, #password2').on('keyup', validarSenha);
      });
      </script>


      <script src="{% static 'cropper/cropper.min.js' %}"></script>
      {% endblock %}

      {% block rightcol %}
      {% include 'bases/rightcol.html' %}
      {% endblock %}

      {% block footer %}
      {% include 'bases/footer.html' %}
      {% endblock %}