{% load static %}
<nav class="sticky-top flex-md-nowrap p-0">
<nav class="navbar navbar-expand-lg  navbar-light bg-white">

    <a class="navbar-brand" href="#"></a>
    <img class="img-fluid" alt="Responsive image" src="{% static 'img/logo_indexx.jpg' %}" width="150" height="50">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
  {% if user.is_authenticated %}

        <ul class="nav navbar-nav">

          
            <li class="nav-item">
                <a class="nav-link" href="#">Mensagens |</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="{% static 'svg/settings.svg' %}" width="20" height="20" alt="">{{user}} |
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Ver perfil</a>
                    <a class="dropdown-item" href="#">Avaliações</a>
                    <a class="dropdown-item" href="#">Configurações</a>
                    <a class="dropdown-item" href="#"><img src="{% static 'svg/log-out.svg' %}" width="20" height="20" alt="">Sair</a>
                
            </li>
        </ul>
        
        </div>
            {% else %}

            
                <div class="form-row">
                    <div class="col">
                        <form class="form-inline">

                            <a class="btn btn-outline-info btn-sm" href="{% url 'sistema_cadastro_negocio' %}" role="button"> Cadastre seu negócio </a>
                        </form>
                    </div>
                    <div class="col">
                        <form class="form-inline">

                            <a class="btn btn-outline-primary btn-sm" href="{% url 'sistema_cadastro' %}" role="button"> Cadastre-se </a>
                        </form>
                    </div>
          
                    <div class="col">
                        <form class="form-inline">
                            <button class="btn btn-primary btn-sm" type="button" data-toggle="modal" data-target="#entrar" data-whatever="@Entrar"> Entrar </button>
                            
                    </div>
                    </form>
           
            {% endif %}
        

        </div>
        
    
</nav>
<nav class=" navbar-expand-md  navbar-light bg-light " style="background-color: #ffffff;" >
    <div class="container">
    <div class="d-flex justify-content-center   ">
        <ul class="nav navbar-nav">

          
            <li class="nav-item">
                <a class="nav-link" href="#"><img src="{% static 'svg/hotel.svg' %}" width="20" height="20" alt=""> Hotéis |</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><img src="{% static 'svg/fork.svg' %}" width="20" height="20" alt=""> Restaurantes |</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><img src="{% static 'svg/coffee-cup.svg' %}" width="20" height="20" alt=""> Cafés |</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><img src="{% static 'svg/pet-house.svg' %}" width="20" height="20" alt=""> PetShops |</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><img src="{% static 'svg/veterinarian.svg' %}" width="20" height="20" alt=""> Hotel Pet |</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><img src="{% static 'svg/veterinariann.svg' %}" width="20" height="20" alt=""> Veterinários |</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><img src="{% static 'svg/elemental-tip.svg' %}" width="20" height="20" alt=""> Dicas </a>
            </li>

           
        </ul>
   </div>
    </div>
    
</nav>
</nav>