{%extends 'bases/base.html' %}
{
{% load static %}
 {% block main %}
 <br>
<p class="text-secondary">Home / Login</p>
<div class="card text-white bg-warning mb-3">
  <div class="card-header text-center">Redefinição de senhas</div>
  <div class="card bg-light  ">
  <div class="card-body text-secondary text-center">

    <h1>Esqueceu a sua senha? Sem problemas</h1>
    <p>
        Digite seu endereço de e-mail abaixo e enviaremos instruções por e-mail para configurar uma nova senha.</p>
  
    <form method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" id="validator" class="btn btn-primary btn-block">Receber instruções</button>
    </form>
  </div>
  </div>
</div>


  
{% endblock %}