{% autoescape off %}
Olá, para iniciar o procedimento de redefinição de senha do {{ user.get_username }} PetAqui,
Clique no link abaixo

{{ protocol }}://http://127.0.0.1:8000{% url 'password_reset_confirm' uidb64=uid token=token %}

Caso tenha esquecido seu usúario em nosso sistema é : {{ user.get_username }}   
Se não estiver conseguindo clicar no link acima, copie o link e cole em uma nova janela do navegador de internet.

Esse e-mail é automático, por favor não responder ele.

Atenciosamente
Equipe PetAqui
{% endautoescape %}