{%extends 'bases/base.html' %}
{
{% load static %}
 {% block main %}
 
 <div class="card text-white bg-success mb-3">
  <div class="card-header"><small class="text">
    <a href="{% url 'sistema_index' %}" class="text-white ">Home /</a>  
    <a  class="text-white">Redefinição de senha</a>

 </small></a></p> Redefinição de senha realizada com sucesso </div>
  <div class="card bg-light  ">
  <div class="card-body text-secondary text-center">

    <p>
        Senha redefinida com sucesso, já poder fazer o login com sua nova senha. <a href="{% url 'login' %}">Faça seu login</a> 
      </p>
  </div>
  </div>
</div>


  
{% endblock %}