{%extends 'bases/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
 {% block main %}
 
 <div class="card text-white bg-primary mb-3">
  <div class="card-header"><small class="text">
    <a href="{% url 'sistema_index' %}" class="text-white ">Home /</a>  
    <a  class="text-white">Redefinição de senha</a>

 </small></a></p> Redefinição de senha </div>
  <div class="card bg-light  ">
  <div class="card-body text-secondary text-center">

    <h5>Esqueceu a sua senha? Sem problemas</h5>
    <p>
        Digite seu endereço de e-mail abaixo e enviaremos instruções por e-mail para configurar uma nova senha.</p>
  
    <form method="POST">
      {% csrf_token %}
      {{ form.email | as_crispy_field}}
      <button type="submit" id="validator" class="btn btn-primary btn-block">Receber instruções</button>
    </form>
  </div>
  </div>
</div>


  
{% endblock %}