{%extends 'bases/base.html' %}
{
{% load static %}
 {% block main %}
 <div class="card text-white bg-primary mb-3">
  <div class="card-header"><small class="text">
    <a href="{% url 'sistema_index' %}" class="text-white ">Home /</a>  
    <a  class="text-white">Redefinição de senha</a>

 </small></a></p> E-mail enviado apra redefinição de senha </div>
  <div class="card bg-light  ">
  <div class="card-body text-secondary text-center">

  <p>
    Enviamos um email com as intruções para a redefinição de sua senha. 
    Se existir uma conta registrada com o email informado, em breve estará recebendo nosso contato
  </p>
  <p>
   Se você não recebeu nosso email, veferique se inseriu o e-mail com o qual se registrou no site, 
   e vereifique se por acaso não está na caixa de spam.
  </p>

  </div>
  </div>
</div>


  
{% endblock %}