{% load static %}
<div class="card">
  <h6 class="card-header"></h6>
  <div class="card-body">
    <h5 class="card-title">Nos siga nas redes sociais</h5>
    <div class="row">
        <div class="col-md-1">
           
          </div>
      <div class="col-md-2">
          <img src="{% static 'svg/facebook.svg' %}" width="40" height="40" alt=""> 
        </div>
        <div class="col-md-2">
            <img src="{% static 'svg/instagram.svg' %}" width="40" height="40" alt=""> 
          </div>
          <div class="col-md-2">
              <img src="{% static 'svg/youtube.svg' %}" width="40" height="40" alt=""> 
            </div>
            <div class="col-md-2">
                <img src="{% static 'svg/google-plus.svg' %}" width="40" height="40" alt=""> 
              </div>
              <div class="col-md-2">
                  <img src="{% static 'svg/linkedin.svg' %}" width="40" height="40" alt=""> 
                </div>
                <div class="col-md-1">
           
                  </div>
                </div>
    
   
    
  


    
    
  </div>
</div>