{% load static %} 
{% load bootstrap %}
<nav class="sticky-top flex-md-nowrap p-0">
    <nav class="navbar navbar-expand-lg  navbar-light bg-white">

        <a class="navbar-brand" href="{% static 'svg/settings.svg' %}"></a>
        <a href="{% url 'sistema_index' %}"><img class="img-fluid" alt="Responsive image" src="{% static 'img/logo_indexx.jpg' %}" width="150" height="50"></a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            {% if user.is_authenticated %} {% if user.is_staff %}
            <ul class="nav navbar-nav">

                <li class="nav-item">
                    <img src="{{ user.usuario.foto.thumbnail.url}}" class="rounded-circle" width="35" height="35">
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="{% static 'svg/settings.svg' %}" width="20" height="20" alt=""> {{user.usuario.nome}} |
                    </a>

                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{% url 'sistema_perfil'  %}">Ver perfil</a>

                        <a class="dropdown-item" href="{% url 'logout' %}"><img src="{% static 'svg/log-out.svg' %}" width="20" height="20" alt="">Sair</a>

                </li>
            </ul>

            </div>
            {% elif user %}
            <ul class="nav navbar-nav">

                <li class="nav-item">
                    <img src="{{ user.negocio.foto.thumbnail.url}}" class="rounded-circle" width="35" height="35">
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="{% static 'svg/settings.svg' %}" width="20" height="20" alt="">{{user.negocio.empresa}} |
                    </a>

                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{% url 'sistema_perfil' %}">Ver perfil</a>

                        <a class="dropdown-item" href="{% url 'logout' %}"><img src="{% static 'svg/log-out.svg' %}" width="20" height="20" alt="">Sair</a>

                </li>
            </ul>

            </div>
            {% endif %} 
  
  			{% else %}

            <div class="form-row">
                <div class="col">
                    <form class="form-inline">

                        <a class="btn btn-outline-info btn-sm" href="{% url 'sistema_cadastro_negocio' %}" role="button"> Cadastre seu negócio </a>
                    </form>
                </div>
                <div class="col">
                    <form class="form-inline">

                        <a class="btn btn-outline-primary btn-sm" href="{% url 'sistema_cadastro' %}" role="button"> Cadastre-se </a>
                    </form>
                </div>

                <div class="col">
                    <form class="form-inline">
                        <a class="btn btn-primary btn-sm" href="{% url 'login' %}"> Entrar </a>

                </div>
                </form>

                {% endif %}

            </div>

    </nav>

    <nav class=" navbar-expand-md  navbar-light bg-light " style="background-color: #ffffff;">
        <div class="container">
            <div class="d-flex justify-content-center   ">
                <ul class="nav navbar-nav">

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'search'%}?cidade=&estado=RS&telefone=&pet_aceitos=&tipo=Hot%C3%A9is"><img src="{% static 'svg/hotel.svg' %}" width="20" height="20" alt=""> Hotéis |</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'search'%}?cidade=&estado=RS&telefone=&pet_aceitos=&tipo=Restaurantes"><img src="{% static 'svg/fork.svg' %}" width="20" height="20" alt=""> Restaurantes |</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'search'%}?cidade=&estado=RS&telefone=&pet_aceitos=&tipo=Caf%C3%A9s"><img src="{% static 'svg/coffee-cup.svg' %}" width="20" height="20" alt=""> Cafés |</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'search'%}?cidade=&estado=RS&telefone=&pet_aceitos=&tipo=PetShops"><img src="{% static 'svg/pet-house.svg' %}" width="20" height="20" alt=""> PetShops |</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'search'%}?cidade=&estado=RS&telefone=&pet_aceitos=&tipo=Hot%C3%A9isPet"><img src="{% static 'svg/veterinarian.svg' %}" width="20" height="20" alt=""> Hotel Pet |</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'search'%}?cidade=&estado=RS&telefone=&pet_aceitos=&tipo=Veterin%C3%A1rios"><img src="{% static 'svg/veterinariann.svg' %}" width="20" height="20" alt=""> Veterinários |</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'search_usuario' %}?nome=&sobrenome=&email=&cidade=&estado=RS"><img src="{% static 'svg/users.svg' %}" width="20" height="20" alt=""> Usuários </a>
                    </li>

                </ul>
            </div>
        </div>

    </nav>
